body{
    font-family: 'Montserrat', sans-serif;
    background: #f5f7fa;
}

/* main styles */
.main {
 display: flex;
 flex-direction: row-reverse;
 width: 1200px; /*задати ширину блоку*/
 margin: 0 auto auto;

}

.main_content{
    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
    margin-top: 50px; /*Додаткові відступи зверху*/
    margin-bottom: 25px; /*Додаткові відступи знизу*/
    
}

/*about styles*/

.about {
   margin-bottom: 40px; 
}

.about_position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.about_name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px; 
}

.about_description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px; /*задати ширину блоку*/
    text-align:justify /*розтягнути текст на весь блок*/ 
}

.project, .project_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    text-decoration: none; 
}

.project_link {
    margin-left: 10px;
   }

.projects_item, .project_bracket{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.projects {
  margin-bottom: 50px;
}

/* work styles */


/* work & education styles */

.work_position, .faculty{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.organizzation, .university{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.work_list{
    padding: 0;
    margin-left: 15px;
    width: 600px; /*задати ширину блоку*/
    text-align:justify /*розтягнути текст на ширину блоку*/
}

.work_list_item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.period{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.university{
    margin-top: 0%;
    margin-bottom: 10px;
}

.faculty{
    margin-top: 0%; 
    margin-bottom: 12px;
}

.education{
    margin-top: 48Px;
}

/*sidebar styles*/

.sidebar {
    background: #1E2939;
    padding-top: 40px;
    width: 370px;
    margin-top: 50px; /*Додаткові відступи зверху*/
    margin-bottom: 25px; /*Додаткові відступи знизу*/
}

.photo {
    width: 370px;
    height: 354px;
    /* border-radius: 30px; */
    left: 50px;
    /* top: 80px; */
    margin-top: 0px;
    /* margin-left: 5px; */
    margin-bottom: 51px;
    display: flex;

}

.sidebar_title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.contacts, .tech_skills, .soft_skills{
    margin-left: 48px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.project_list {
    padding: 0%;
    margin-left: 15px;
}

.contacts {
    margin-bottom: 50px;
}

.contact_link:hover, .contact_link:focus{
    opacity: 1;
}

.tech_skills, .soft_skills{
    margin-bottom: 45px;
}

.tech_skills_list{
    padding: 0%;
    margin-left: 20px;
}

.contact_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
}


.contact_tipe {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    margin-right: 10px;
}

.cont_tipe{
    text-decoration: none;
}

.tech_skills_item{
    color: #FB6D3A;
}

.tech_skills_text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: white;
}



/* ---------------------------------------------- */

.card {
    width: 368px;
    height: 354px;
    left: 40px;
    top: 80px;
    background-image: linear-gradient(163deg, #1a1a1a 0%, #f3f7e5 100%);
    border-radius: 20px;
    transition: all .3s;
   }
   
   .card2 {
    width: 190px;
    height: 254px;
    background-color: #1a1a1a;
    border-radius: 2px;
    transition: all .2s;
   }
   
   .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   
   .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(238, 236, 232, 0.3);
   }




